@tailwind base;
@tailwind components;
@tailwind utilities;

/* basic setting */
:root {
  min-width : 820px;
  color-scheme: light;
  font-weight: 400;
  color: theme("colors.myColors.basic");
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer base {
  ::-webkit-scrollbar {
    display: none;
  }

  p {
    font-size: theme("fontSize.small");
  }
  h2 {
    font-size: theme("fontSize.medium");
    font-weight: 600;
  }
  h1 {
    font-size: theme("fontSize.large");
    font-weight: 600;
  }
}

@layer components {
  /* navbar */
  .navbar {
    position: fixed;
    width: 100%;
    height: auto;
    outline: 1px solid #d9d9d9;
    padding: 0 1rem;
    background: white;
    min-width : 820px;
  }
  .navbarMenu {
    width: auto;
    margin: 1rem;
  }
  .navbarMenu:hover {
    color: #479cff;
  }

  /* footer */
  .footer {
    width: 100%;
    height: auto;
    color: white;
    background: theme("colors.myColors.basic");
    padding: 2rem 4rem 2rem 4rem;
    display: flex;
  }
  .footerBundle {
    width: auto;
    margin: 0 1rem 0 1rem;
  }
  .footerMenu {
    width: auto;
    color: theme("colors.myColors.gray");
    font-weight: 200;
    font-size: 0.8rem;
    text-align: left;
  }

  /* Card Frame */
  .card {
    border-radius: theme("borderRadius.basic");
    border: 1px solid theme("colors.myColors.gray");
    box-shadow: 4px 4px 4px theme("colors.myColors.shadow");
    margin: theme("margin.card");
    padding: theme("padding.cardContent");
  }
  .card-bundle {
    border-radius: theme("borderRadius.basic");
    border: 1px solid #d9d9d9;
    margin: theme("margin.card");
  }

  .card-title {
    border-bottom: 1px solid #d9d9d9;
    padding: theme("padding.cardTitle");
    font-size: theme("fontSize.medium");
    font-weight: 600;
  }

  .card-body {
    padding: theme("padding.cardContent");
  }

  .card-button {
    width: auto;
    height: auto;
    color: white;
    font-size: theme("fontSize.medium");
    border-radius: theme("borderRadius.basic");
    background: theme("colors.myColors.gray");
  }
  .card-button:hover {
    background: theme("colors.myColors.primary");
  }

  /* input */
  .input-text {
    border-radius: theme("borderRadius.basic");
    border: 1px solid theme("colors.myColors.gray");
    padding: 0.5rem;
  }

  /* button */
  .button-basic {
    width: auto;
    height: auto;
    padding: 0.5rem;
    border-radius: theme("borderRadius.basic");
    padding: 0.5rem 1.3rem 0.5rem 1.3rem;
  }

  /* Table */
  table {
    margin: 100px;
    border: 1px solid black;
    border-collapse: collapse;
  }
  th,
  td {
    border: 1px solid black;
  }
}
